@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
body {
    font-family: 'Dancing Script', cursive;
    background:rgb(235, 90, 169);
    text-align: center;
}
.capa{
    width:100%;
}

.benefícios {
    text-align: left;
      background-color: rgb(226, 26, 209); 

}
ul {
   display: inline-block;
   vertical-align: top;
   margin-right: 500px;
}
li {
     padding: 25px;
     font-size: 26px;
}

.foto-beneficio {
   width: 30%;

}





